<?xml version="1.0" encoding="UTF-8" standalone="yes"?><cfg xmlns="http://alternativaplatform.com/core/config.xsd"><server address="c1.flant-review-ingr-6a7qts.test-ru.tankionline.com" mode="simple" wsProtocol="WSS"><ports><port>5190</port><port>5222</port><port>5223</port><port>4444</port><port>5050</port></ports><webSocketPorts><port>443</port></webSocketPorts></server><status>normal</status></cfg>
