name: 3D坦克测试服监测器

on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:

jobs:
  continuous-monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # 确保拉取到所有历史，有助于防止 push 冲突，虽然后面脚本有 rebase
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        # 安装脚本运行所需的库
        run: |
          npm i playwright nodemailer p-limit@3
          npx playwright install --with-deps chromium

      - name: Run Monitor
        env:
          MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          MAIL_TO: ${{ secrets.MAIL_TO }}
        run: node monitor.js
